h1, .row {
    text-align: center;
}

body::after {
    content: "";
    background: url(../images/fireplace.jpg);
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }


h1 {
    text-shadow: 0 10px 50px rgb(0, 0, 0);
    color: white;
}