body::after {
    content: "";
    background: url(../images/fireplace.jpg);
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

body {
    font-family: 'Courier New', Courier, monospace;
}

.welcome-banner {
    color: #fbe9e7;
    background-color: rgba(191, 54, 12, .8);
    padding: 20px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.container {
    margin-right: auto;
    margin-left: auto;
    text-align: center;

}

#content-row .col {
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#content-row {
    display: flex;
}

a {
    font-weight: bold;
}

div#content-cell {
    min-height: 0;
}

/* .custom-content {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    border: solid #9a3918  2px;
    border-radius: 2%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
} */

/* Book Styles */
#bookBtnDiv {
    display: flex;
    justify-content: space-evenly;
}
#bookBtnDiv button, #modalBtnDiv button {
    margin: 10px 0px;
    width: 110px;
    padding: 12px;
    font-size: 20px;
    background-color: #9a3918;
    color:white;
    border-radius: 2%;
    border: none;
}

.clearscores {
    color:white;
    margin-top: 10px;
    /* width: 130px; */
    padding: 15px;
    font-size: 20px;
    border-radius: 2%;
    border: none;
}
/* End Book Styles */