h1, .col {
    text-align: center;
}


/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    h1 {
        font-size: 20px;
    }
    #read-or-play h2 {
        font-size: 25px;
    }
    a {
        width: 100%;
    }
}